## QUERYS

Aquí procedo a realizar la realización de las querys en local, para mas tarde añadirlo a main.py y ejecutarlo en la API.

In [1]:
#Importo las librerías pandas para trabajar con los csv como dataframes y duckdb para realizar las querys conforme a cada consulta.
import pandas as pd
import duckdb as dk

In [2]:
#Extraigo el dataset de moviescores y pruebo si funcionan las consultas.
df = pd.read_csv("datasets/moviescores.csv", sep=';')
dk.query("select * from df").df().head(1)

,id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type,score
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min,3.467131

1. #Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN. (la función debe llamarse get_max_duration(year, platform, duration_type))

In [3]:
# Para esta query general tomo en consideración la plataforma, el año y el tipo de duración(min,seasons), permitiendo por defecto hallar  quien tenga mayor duración conforme a esos parámetros. Ya sea en una plataforma especifica en el año ingresado bajo el criterio de duración, pudiendo ser un tv show o película.

plat='n%'
year=2014
durtype='seasons'

dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE id like '{plat}' and release_year='{year}' and duration_type='{durtype}' ORDER BY duration_int DESC LIMIT 1").df()

     title  release_year  duration_int duration_type
0  mad men          2014             7       seasons

De aquí en adelante todas las queryes para hallar el mismo resultado de aquel tv show o película que tenga la mayor duración

In [4]:
# Utilizo solo los parámetros de plataforma y tipo de duration.
plat='n%'
durtype='seasons'   
dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE id like '{plat}' and duration_type='{durtype}' ORDER BY duration_int DESC LIMIT 1").df()

            title  release_year  duration_int duration_type
0  grey's anatomy          2020            17       seasons

In [5]:
#Utilizo solo los parámetros de plataforma y año.
plat='n%'
year='2014'
dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE id like '{plat}' and release_year='{year}' ORDER BY duration_int DESC LIMIT 1").df()

                   title  release_year  duration_int duration_type
0  the gospel of matthew          2014           190           min

In [6]:
#Utilizo los parámetros de año y tipo de duración.
year='2014'
durtype='seasons'
dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE release_year='{year}' and duration_type='{durtype}' ORDER BY duration_int DESC LIMIT 1").df()

      title  release_year  duration_int duration_type
0  survivor          2014            19       seasons

In [7]:
#Utilizo solo el parámetro de plataforma.
plat = 'n%'
dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE id like '{plat}' ORDER BY duration_int DESC LIMIT 1").df()

                        title  release_year  duration_int duration_type
0  black mirror: bandersnatch          2018           312           min

In [8]:
#Utilizo solo el parámetro de tipo de duración.
durtype = 'seasons'
dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE duration_type='{durtype}' ORDER BY duration_int DESC LIMIT 1").df()

      title  release_year  duration_int duration_type
0  survivor          2000            34       seasons

In [9]:
#Utilizo solo el parámetro de año.
year='2014'
dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE release_year='{year}' ORDER BY duration_int DESC LIMIT 1").df()

,title,release_year,duration_int,duration_type
0,midnight thunderstorm for sleep 9 hours,2014,541,min

In [10]:
#Consulta por defecto sin ningún parámetro ingresado. Agarraría todas las plataformas sin considerar la fecha ni la duración del tv show o película. 
dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df ORDER BY duration_int DESC LIMIT 1").df()

,title,release_year,duration_int,duration_type
0,soothing surf at del norte for sleep black screen,2018,601,min

In [11]:
#Una prueba de como se ejecutaría localmente fuera de la función.
year= input()
plat= input()
durtype= input()

if plat == "amazon":
            plat = "a%"
elif plat == "disney":
            plat = "d%"
elif plat == "hulu":
            plat = "h%"
elif plat== "netflix":
            plat = "n%"
elif plat != "":
        print ("No hay existencias de esa plataforma. Las opciones de plataforma son: amazon, disney, hulu, netflix. En minúsculas respectivamente") #Mensaje de error si es que no se ingreso la plataforma correctament

if  not year and not plat and not durtype:
        result=dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df ORDER BY duration_int DESC LIMIT 1").df()
elif not year and not plat:
        result=dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE duration_type='{durtype}' ORDER BY duration_int DESC LIMIT 1").df()
elif not year and not durtype:
        result= dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE id like '{plat}' ORDER BY duration_int DESC LIMIT 1").df()
elif not plat and not durtype:
        result=dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE release_year='{year}' ORDER BY duration_int DESC LIMIT 1").df()
elif not year :
        result=dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE id like '{plat}' and duration_type='{durtype}' ORDER BY duration_int DESC LIMIT 1").df()
elif not plat:
        result=dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE release_year='{year}' and duration_type='{durtype}' ORDER BY duration_int DESC LIMIT 1").df()
elif not durtype:
        result=dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE id like '{plat}' and release_year='{year}' ORDER BY duration_int DESC LIMIT 1").df()
else:
        result = dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE id like '{plat}' and release_year='{year}' and duration_type='{durtype}' ORDER BY duration_int DESC LIMIT 1").df()
    
result

,title,release_year,duration_int,duration_type
0,soothing surf at del norte for sleep black screen,2018,601,min

In [12]:
#Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN. (la función debe llamarse get_max_duration(year, platform, duration_type))
def get_max_duration(year: int ,durtype: str , platform: str ):
    #Lectura de la base de datos localmente alojada en datasets:
    df = pd.read_csv("datasets/moviescores.csv",sep=';')
    #Transformación de plataformas ingresadas para que lo pueda leer la consulta:
    df['duration_int']=df['duration_int'].astype('int64')
    #Pequeño arreglo para transformar duration_int a int, luego de la importación se cambia a float.

    #Defino las plataformas
    if platform == "amazon":
        plat = "a%"
    elif platform == "disney":
        plat = "d%"
    elif platform == "hulu":
        plat = "h%"
    elif platform == "netflix":
        plat = "n%"
    elif platform == None: #Aquí le agregue None para que se guarde en la variable.
        plat = None
    else :
        return ("No hay existencias de esa plataforma. Las opciones de plataforma son: amazon, disney, hulu, netflix. En minúsculas respectivamente") #Mensaje de error si es que no se ingreso la plataforma correctamente.
        
    if durtype == "season" or durtype == "seasons":
        durtype = "seasons"
    elif durtype =="m" or durtype =="min" :
        durtype = "min"    
    elif durtype != None : # Descarto cualquier otro valor que no pudiera ser los previos indicados inclusive el vació.
         return ("No hay existencias de ese tipo de duración, Las alternativas son: seasons y min. En minúsculas respectivamente.")
    
    #Aquí añado todas las queys opcionales que se va a ir ejecutando según se vean valores faltantes.
    #QUERYS:
    if  not year and plat == None and not durtype:
        result=dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df ORDER BY duration_int DESC LIMIT 1").df()
    elif not year and plat == None:
        result=dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE duration_type='{durtype}' ORDER BY duration_int DESC LIMIT 1").df()
    elif not year and not durtype:
        result= dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE id like '{plat}' ORDER BY duration_int DESC LIMIT 1").df()
    elif plat == None and not durtype:
        result=dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE release_year='{year}' ORDER BY duration_int DESC LIMIT 1").df()
    elif not year :
        result=dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE id like '{plat}' and duration_type='{durtype}' ORDER BY duration_int DESC LIMIT 1").df()
    elif plat == None:
        result=dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE release_year='{year}' and duration_type='{durtype}' ORDER BY duration_int DESC LIMIT 1").df()
    elif not durtype:
        result=dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE id like '{plat}' and release_year='{year}' ORDER BY duration_int DESC LIMIT 1").df()
    else:
        result = dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE id like '{plat}' and release_year='{year}' and duration_type='{durtype}' ORDER BY duration_int DESC LIMIT 1").df()
    
    #Se verifica el contenido de la variable "result". En caso de no estar vacío:
    if not result.iloc[0,0] == 0:
        return result.to_dict() #Se retornan los datos como diccionario.
    
    #Si la variable no tiene contenido:
    else:
        return ("No hay películas en dicha plataforma, en ese año y con el tipo de duration indicado.")

In [13]:
get_max_duration(2014,None,None)

{'title': {0: 'midnight thunderstorm for sleep 9 hours'},
 'release_year': {0: 2014},
 'duration_int': {0: 541},
 'duration_type': {0: 'min'}}

2. Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año (la función debe llamarse get_score_count(platform, scored, year))

In [14]:
#Consulta que se realiza considerando los parámetros plataforma, score y año. Se estaría consultando la cantidad de títulos de ""películas""" según la plataforma indicada, tan aquellas mayores al score ingresado , en el año también indicado.
plat='a%'
score= 3.6
year= 2015
dk.query(f"SELECT COUNT(title) FROM df WHERE id LIKE '{plat}' AND type == 'movie' AND score > {score} AND release_year == {year}").df()

   count(title)
0            25

In [15]:
def get_score_count(platform: str, score: float, year: int):
    #Lectura de la base de datos:
    df = pd.read_csv("datasets/moviescores.csv", sep=';')
    
    #Defino las plataformas:
    if platform == "amazon":
        plat = "a%"
    elif platform == "disney":
        plat = "d%"
    elif platform == "hulu":
        plat = "h%"
    elif platform == "netflix":
        plat = "n%"
    else:
        return ("Plataforma incorrecta. Las opciones son: amazon, disney, hulu, netflix. En minúsculas respectivamente")
    #QUERY:
    result = dk.query(f"SELECT COUNT(title) FROM df WHERE id LIKE '{plat}' AND type == 'movie' AND score > {score} AND release_year == {year}").df() 
    #Se verifica el contenido de la variable "result". En caso de no estar vacío:
    if not result.iloc[0,0] == 0:
        return result.to_dict() #retorna los datos solicitados en la consulta, como un diccionario.
    #Si la variable no tiene contenido:
    else:
        return ("No hay películas registradas en esa plataforma, con ese puntaje en el año indicado.")

In [16]:
get_score_count('amazon',3.6,2015)

{'count(title)': {0: 25}}

3.Cantidad de películas por plataforma con filtro de PLATAFORMA. (La función debe llamarse get_count_platform(platform))

In [17]:
# Para esta consulta considero el parámetro de plataforma.
# Básicamente cuenta la cantidad de títulos (tv shows o películas) que se encuentran en determinada plataforma.
plat='a%'
dk.query(f"SELECT COUNT(title) FROM df WHERE id LIKE '{plat}' AND type == 'movie'").df()

   count(title)
0          7814

In [18]:
def get_count_platform(platform: str):
    #Lectura de la base de datos:
    df = pd.read_csv("datasets\moviescores.csv", sep=';')
    
    #Defino las plataformas:
    if platform == "amazon":
        plat = "a%"
    elif platform == "disney":
        plat = "d%"
    elif platform == "hulu":
        plat = "h%"
    elif platform == "netflix":
        plat = "n%"
    else:
        return ("Plataforma incorrecta. Las opciones son: amazon, disney, hulu, netflix. En minúsculas, respectivamente.")
    result = dk.query(f"SELECT COUNT(title) FROM df WHERE id LIKE '{plat}' AND type == 'movie'").df()

    return result.to_dict()

4. Actor que más se repite según plataforma y año. (La función debe llamarse get_actor(platform, year))

In [19]:
df.head(2)

,id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type,score
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min,3.467131
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110,min,3.548682

In [84]:
# La columna de reparto('cast') tiene el contenido de los actores asi que, decido separarlo y apilarlo. Queda añadido en una serie.
cast_s = df[df['cast'] != 'Sin registro'].set_index('id')['cast'].str.split(',', expand=True).stack().reset_index(level=1, drop=True)
cast_s

id
as1              brendan gleeson
as1                taylor kitsch
as1               gordon pinsent
as2             mahesh manjrekar
as2                abhay mahajan
                   ...
ns8807          manish chaudhary
ns8807              meghna malik
ns8807             malkeet rauni
ns8807            anita shabdish
ns8807     chittaranjan tripathy
Length: 114392, dtype: object

In [85]:
#Teniendo a los actores en una serie ('cast_s') lo unifico al dataset primario('df':: moviescores). Los unifico considerando la igualdad de los indices y me deshago de la columna 'cast' como vuelvo a resetear el indice(a mi gusto). El nuevo datarset seria cast_df y con ese se podria realizar la consulta indicada.
cast_df=df.merge(cast_s.to_frame(), left_on='id', right_index=True).reset_index(drop=True).drop(columns=['cast'])
cast_df

,id,type,title,director,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type,score,0
0,as1,movie,the grand seduction,don mckellar,canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min,3.467131,brendan gleeson
1,as1,movie,the grand seduction,don mckellar,canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min,3.467131,taylor kitsch
2,as1,movie,the grand seduction,don mckellar,canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min,3.467131,gordon pinsent
3,as2,movie,take care good night,girish joshi,india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110,min,3.548682,mahesh manjrekar
4,as2,movie,take care good night,girish joshi,india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110,min,3.548682,abhay mahajan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114387,ns8807,movie,zubaan,mozez singh,india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,111,min,3.529228,manish chaudhary
114388,ns8807,movie,zubaan,mozez singh,india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,111,min,3.529228,meghna malik
114389,ns8807,movie,zubaan,mozez singh,india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,111,min,3.529228,malkeet rauni
114390,ns8807,movie,zubaan,mozez singh,india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,111,min,3.529228,anita shabdish
114391,ns8807,movie,zubaan,mozez singh,india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,111,min,3.529228,chittaranjan tripathy

Aqui estaba revisando y parece hulu no tiene cast ni actores por defecto, entonces todo menos con hulu ira bien.

In [88]:
cast_df[(cast_df['id']=='hs1')]

Empty DataFrame
Columns: [id, type, title, director, country, date_added, release_year, rating, listed_in, description, duration_int, duration_type, score, 0]
Index: []

In [94]:
df[(df['id']=='hs9')]

,id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type,score
11126,hs9,tv show,queens,Sin registro,Sin registro,Sin registro,2021-10-20,2021,tv-14,"drama, music",four women in their 40s reunite for a chance t...,1,seasons,3.514254

In [64]:
#Consulta que considera los parámetros de plataforma y año. Decido llamar al actor y la cantidad de veces que aparecería('apparitions') agrupado por el actor y en orden descendente la cantidad de veces que aparece. Limitando solo 1 para agarrar el que mas apariciones ha tenido.
plat='hs%'
year=2020
dk.query(f"""SELECT actor ,count(*) as apparitions FROM cast_df WHERE id LIKE '{plat}' AND release_year='{year}' GROUP BY "actor" ORDER BY apparitions DESC LIMIT 1""").df()
data

Empty DataFrame
Columns: [actor, apparitions]
Index: []

In [65]:
def get_actor(platform: str, year: int):
    #Lectura de la base de datos:
    df = pd.read_csv("datasets\moviescores.csv", sep=';')
    
    #Separo los actores apilandolos en una serie con el id.
    cast_s = df[df['cast'] != 'Sin registro']['cast'].str.split(', ', expand=True).stack().reset_index(level=1, drop=True)

    #Junto la columna 'actor' con el dataframe primario.
    cast_df=df.merge(cast_s.rename('actor'), left_index=True, right_index=True).reset_index(drop=True).drop(columns=['cast'])
    cast_df
    
    #Defino las plataformas:
    if platform == "amazon":
        plat = "as%"
    elif platform == "disney":
        plat = "ds%"
    elif platform == "hulu":
        plat = "hs%"
    elif platform == "netflix":
        plat = "ns%"
    else:
        return ("Plataforma incorrecta. Las opciones son: amazon, disney, hulu, netflix. En minúsculas, respectivamente.")
    
    # QUERY
    result = dk.query(f"""SELECT actor ,count(*) as apparitions FROM cast_df WHERE id LIKE '{plat}' AND release_year='{year}' GROUP BY "actor" ORDER BY apparitions DESC LIMIT 1""").df()
    
    if not result.iloc[0,0] == 0:
        return result.to_dict() #retorna los datos solicitados en la consulta, como un diccionario.
    #Si la variable no tiene contenido:
    else:
        return ("No hay un actor registrado, en esa plataforma con el año indicado.")

In [44]:
get_actor('amazon',2018)

{'actor': {0: 'maggie binkley'}, 'apparitions': {0: 11}}