In [112]:
import pandas as pd
import duckdb as dk

In [113]:
df = pd.read_csv("datasets\moviescores.csv", sep=';')
dk.query("select * from data").df().head(1)

,id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type,score
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113.0,min,3.467131

In [114]:
df['duration_int']=df['duration_int'].astype('int64')
df.head(1)

,id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type,score
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min,3.467131

In [141]:
plat='n%'
year=2014
durtype='seasons'

dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE id like '{plat}' and release_year='{year}' and duration_type='{durtype}' ORDER BY duration_int DESC LIMIT 1").df()

     title  release_year  duration_int duration_type
0  mad men          2014             7       seasons

In [137]:
def get_max_duration(year: int, platform: str, durtype: str ):
    #Lectura de la base de datos:
    df = pd.read_csv("datasets/moviescores.csv",sep=';')
    df['duration_int']=df['duration_int'].astype('int64')
    #Defino las plataformas:
    if platform == "amazon":
        plat = "a%"
    elif platform == "disney":
        plat = "d%"
    elif platform == "hulu":
        plat = "h%"
    elif platform == "netflix":
        plat = "n%"
    else:
        return ("Plataforma incorrecta. Las opciones son: amazon, disney, hulu, netflix. En minusculas respectivamente")
    #QUERY:
    result = dk.query(f"SELECT title, release_year, duration_int, duration_type FROM df WHERE id like '{plat}' and release_year='{year}' and duration_type='{durtype}' ORDER BY duration_int DESC LIMIT 1").df()
    #Se verifica el contenido de la variable "result". En caso de no estar vacío:
    if not result.iloc[0,0] == 0:
        return result.to_dict() #retorna los datos solicitados en la consulta, como un diccionario.
    #Si la variable no tiene contenido:
    else:
        return ("No hay peliculas en dicha plataforma, en ese año y con el tipo de duration indicado.")

In [142]:
get_max_duration(2014,'netflix','seasons')

{'title': {0: 'mad men'},
 'release_year': {0: 2014},
 'duration_int': {0: 7},
 'duration_type': {0: 'seasons'}}

In [133]:
plat='a%'
score= 3.6
year= 2015
dk.query(f"SELECT COUNT(title) FROM df WHERE id LIKE '{plat}' AND type == 'movie' AND score > {score} AND release_year == {year}").df()

   count(title)
0            26

In [135]:
def get_score_count(platform: str, score: int, year: int):
    #Lectura de la base de datos:
    df = pd.read_csv("datasets/moviescores.csv", sep=';')
    
    #Defino las plataformas:
    if platform == "amazon":
        plat = "a%"
    elif platform == "disney":
        plat = "d%"
    elif platform == "hulu":
        plat = "h%"
    elif platform == "netflix":
        plat = "n%"
    else:
        return ("Plataforma incorrecta. Las opciones son: amazon, disney, hulu, netflix. En minusculas respectivamente")
    #QUERY:
    result = dk.query(f"SELECT COUNT(title) FROM df WHERE id LIKE '{plat}' AND type == 'movie' AND score > {score} AND release_year == {year}").df() 
    #Se verifica el contenido de la variable "result". En caso de no estar vacío:
    if not result.iloc[0,0] == 0:
        return result.to_dict() #retorna los datos solicitados en la consulta, como un diccionario.
    #Si la variable no tiene contenido:
    else:
        return ("No hay peliculas registradas en esa plataforma, con ese puntaje en el año indicado.")

In [136]:
get_score_count('amazon',3.6,2015)

{'count(title)': {0: 26}}

In [120]:
plat='a%'
dk.query(f"SELECT COUNT(title) FROM df WHERE id LIKE '{plat}' AND type == 'movie'").df()

   count(title)
0          7814

In [124]:
def get_count_plataforma(platform: str):
    #Lectura de la base de datos:
    df = pd.read_csv("datasets\moviescores.csv", sep=';')
    
    #Defino las plataformas:
    if platform == "amazon":
        plat = "a%"
    elif platform == "disney":
        plat = "d%"
    elif platform == "hulu":
        plat = "h%"
    elif platform == "netflix":
        plat = "n%"
    else:
        return ("Plataforma incorrecta. Las opciones son: amazon, disney, hulu, netflix. En minusculas, respectivamente.")
    result = dk.query(f"SELECT COUNT(title) FROM df WHERE id LIKE '{plat}' AND type == 'movie'").df()

    return result

In [125]:
get_count_plataforma("netflix")

   count(title)
0          6131